*{
    background-color:pink;
}

h1{
  color: purple;
  font-size: 3rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}
  

a{
    color: rgb(21, 143, 180);
    background-color: rgb(23, 236, 112);
    padding: 0.2rem;
    text-decoration:none;
    border: 3px outset rgb(70, 0, 128);
    transition-duration: .3s;
}

a:hover{
    background-color: rgb(70, 0, 128);
    border:  3px outset rgb(23, 236, 112);

}

h3{
    font-size:1.5rem
}