*{
    background-color:pink;
}

h1{
  color: purple;
  font-size: 3rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1rem;
}
  

a{
    color: rgb(70, 0, 128);
    background-color: rgba(23, 236, 112, 0.733);
    padding: 0.4rem;
    text-decoration:none;
}